# Movie Recommender - Collaborative Filtering (User-User)

- Dataset: https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-ML0101EN-SkillsNetwork/labs/Module%205/data/moviedataset.zip


- User input: [{'title':'Breakfast Club, The', 'rating':5},
            {'title':'Toy Story', 'rating':3.5},
            {'title':'Jumanji', 'rating':2},
            {'title':"Pulp Fiction", 'rating':5},
            {'title':'Akira', 'rating':4.5}] 
            
- Use the 50 most similar users to the input

- Recommend the top10 movies to input user

In [1]:
import pandas as pd
from math import sqrt
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

### Loading Data

In [6]:
movies_df = pd.read_csv(r'movies.csv')
ratings_df = pd.read_csv('ratings.csv')
print(movies_df.shape)
movies_df.head()

(34208, 3)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

### Preprocessing
- Movie df

In [7]:
# Isolate (year) from title
movies_df['year'] = movies_df.title.str.extract('(\(\d\d\d\d\))',expand=False)

#Removing () from year column
movies_df['year'] = movies_df.year.str.extract('(\d\d\d\d)',expand=False)

#Removing  years from  'title' column
movies_df['title'] = movies_df.title.str.replace('(\(\d\d\d\d\))', '')

#strip ending whitespaces if any
movies_df['title'] = movies_df['title'].apply(lambda x: x.strip())

movies_df.head()

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995

In [9]:
#Dropping irrelevant column
movies_df = movies_df.drop('genres', 1)

In [10]:
movies_df.head()

   movieId                        title  year
0        1                    Toy Story  1995
1        2                      Jumanji  1995
2        3             Grumpier Old Men  1995
3        4            Waiting to Exhale  1995
4        5  Father of the Bride Part II  1995

### Preprocessing
- Ratings df

In [12]:
ratings_df.head()

   userId  movieId  rating   timestamp
0       1      169     2.5  1204927694
1       1     2471     3.0  1204927438
2       1    48516     5.0  1204927435
3       2     2571     3.5  1436165433
4       2   109487     4.0  1436165496

In [13]:
#Dropping irrelevant column
ratings_df = ratings_df.drop('timestamp', 1)

In [14]:
ratings_df.head()

   userId  movieId  rating
0       1      169     2.5
1       1     2471     3.0
2       1    48516     5.0
3       2     2571     3.5
4       2   109487     4.0

### Collaborative Filtering
- Selecting user

In [8]:
# User input
userInput = [
            {'title':'Breakfast Club, The', 'rating':5},
            {'title':'Toy Story', 'rating':3.5},
            {'title':'Jumanji', 'rating':2},
            {'title':"Pulp Fiction", 'rating':5},
            {'title':'Akira', 'rating':4.5}
         ] 

# To df
inputMovies = pd.DataFrame(userInput)
inputMovies

   rating                title
0     5.0  Breakfast Club, The
1     3.5            Toy Story
2     2.0              Jumanji
3     5.0         Pulp Fiction
4     4.5                Akira

In [15]:
# Movies Id from 'movies_df' to 'inputMovies'

  #Filtering  by title
inputId = movies_df[movies_df['title'].isin(inputMovies['title'].tolist())]

  #Merging results (by title)
inputMovies = pd.merge(inputId, inputMovies)

  #Dropping irrelevant info
inputMovies = inputMovies.drop('year', 1)

inputMovies

   movieId                title  rating
0        1            Toy Story     3.5
1        2              Jumanji     2.0
2      296         Pulp Fiction     5.0
3     1274                Akira     4.5
4     1968  Breakfast Club, The     5.0

### Collaborative Filtering
- Other users ratings of selected input movies

In [16]:
userSubset = ratings_df[ratings_df['movieId'].isin(inputMovies['movieId'].tolist())]
userSubset.head()

     userId  movieId  rating
19        4      296     4.0
441      12     1968     3.0
479      13        2     2.0
531      13     1274     5.0
681      14      296     2.0

In [28]:
# Group by userId
userSubsetGroup = userSubset.groupby(['userId'])

print(type(userSubsetGroup))
userSubsetGroup.nunique()

<class 'pandas.core.groupby.groupby.DataFrameGroupBy'>

        userId  movieId  rating
userId
4            1        1       1
12           1        1       1
13           1        2       2
14           1        1       1
15           1        3       2
17           1        4       3
18           1        1       1
20           1        1       1
23           1        1       1
26           1        1       1
28           1        1       1
31           1        1       1
32           1        1       1
34           1        3       3
37           1        2       2
38           1        1       1
39           1        3       2
40           1        2       2
45           1        1       1
47           1        2       1
48           1        1       1
50           1        3       2
53           1        1       1
54           1        2       2
55           1        1       1
56           1        1       1
57           1        1       1
58           1        2       2
59           1        2       2
60           1        1       1
...        ...      ...     ...
247675       1        1       1
247679       1        1       1
247680       1        2       2
247681       1        1       1
247685       1        1       1
247689       1        1       1
247693       1        2       2
247694       1        2       2
247697       1        2       2
247698       1        1       1
247700       1        3       1
247702       1        2       2
247703       1        1       1
247704       1        3       2
247707       1        2       2
247708       1        1       1
247710       1        1       1
247715       1        3       2
247718       1        1       1
247719       1        2       2
247724       1        1       1
247725       1        2       2
247728       1        1       1
247729       1        1       1
247732       1        3       3
247734       1        1       1
247735       1        1       1
247738       1        1       1
247751       1        3       2
247753       1        1       1

[116140 rows x 3 columns]

In [32]:
# Testing - checking userId=1230
userSubsetGroup.get_group(1230)

        userId  movieId  rating
114338    1230        1     4.0
114353    1230      296     5.0

### Collaborative Filtering
- Sort by users with most watched movies that the input watched

In [35]:
userSubsetGroup = sorted(userSubsetGroup,  key=lambda x: len(x[1]), reverse=True)

# Check first 3
userSubsetGroup[0:3]

[(75,
        userId  movieId  rating
  7507      75        1     5.0
  7508      75        2     3.5
  7540      75      296     5.0
  7633      75     1274     4.5
  7673      75     1968     5.0),
 (106,
        userId  movieId  rating
  9083     106        1     2.5
  9084     106        2     3.0
  9115     106      296     3.5
  9198     106     1274     3.0
  9238     106     1968     3.5),
 (686,
         userId  movieId  rating
  61336     686        1     4.0
  61337     686        2     3.0
  61377     686      296     4.0
  61478     686     1274     4.0
  61569     686     1968     5.0)]

In [40]:
# Selecting Top100 users from subset group 
userSubsetGroup = userSubsetGroup[0:100]
userSubsetGroup

[(75,
        userId  movieId  rating
  7507      75        1     5.0
  7508      75        2     3.5
  7540      75      296     5.0
  7633      75     1274     4.5
  7673      75     1968     5.0),
 (106,
        userId  movieId  rating
  9083     106        1     2.5
  9084     106        2     3.0
  9115     106      296     3.5
  9198     106     1274     3.0
  9238     106     1968     3.5),
 (686,
         userId  movieId  rating
  61336     686        1     4.0
  61337     686        2     3.0
  61377     686      296     4.0
  61478     686     1274     4.0
  61569     686     1968     5.0),
 (815,
         userId  movieId  rating
  73747     815        1     4.5
  73748     815        2     3.0
  73922     815      296     5.0
  74362     815     1274     3.0
  74678     815     1968     4.5),
 (1040,
         userId  movieId  rating
  96689    1040        1     3.0
  96690    1040        2     1.5
  96733    1040      296     3.5
  96859    1040     1274     3.0
  96922    1040     1968     4.0),
 (1130,
          userId  movieId  rating
  104167    1130        1     0.5
  104168    1130        2     4.0
  104214    1130      296     4.0
  104363    1130     1274     4.5
  104443    1130     1968     4.5),
 (1502,
          userId  movieId  rating
  133876    1502        1     4.0
  133877    1502        2     3.5
  133917    1502      296     5.0
  134058    1502     1274     4.0
  134133    1502     1968     5.0),
 (1599,
          userId  movieId  rating
  142722    1599        1     4.0
  142723    1599        2     4.0
  142810    1599      296     5.0
  143068    1599     1274     4.0
  143220    1599     1968     4.0),
 (1625,
          userId  movieId  rating
  146811    1625        1     4.0
  146812    1625        2     3.5
  146867    1625      296     5.0
  147011    1625     1274     4.0
  147107    1625     1968     4.0),
 (1950,
          userId  movieId  rating
  176143    1950        1     5.0
  176144    1950        2     4.0
  176186    1950      296     5.0
  176349    1950     1274     4.0
  176444    1950     1968     4.0),
 (2065,
          userId  movieId  rating
  185283    2065        1     3.0
  185284    2065        2     3.0
  185340    2065      296     4.0
  185472    2065     1274     3.0
  185575    2065     1968     3.0),
 (2128,
          userId  movieId  rating
  191789    2128        1     3.0
  191790    2128        2     4.0
  191830    2128      296     4.5
  191932    2128     1274     5.0
  191979    2128     1968     5.0),
 (2432,
          userId  movieId  rating
  221536    2432        1     3.0
  221537    2432        2     3.0
  221593    2432      296     4.0
  221842    2432     1274     2.0
  222002    2432     1968     3.0),
 (2791,
          userId  movieId  rating
  254324    2791        1     4.5
  254325    2791        2     3.0
  254344    2791      296     4.5
  254446    2791     1274     4.5
  254493    2791     1968     4.5),
 (2839,
          userId  movieId  rating
  259233    2839        1     4.0
  259234    2839        2     3.0
  259292    2839      296     5.0
  259427    2839     1274     5.0
  259523    2839     1968     4.0),
 (2948,
          userId  movieId  rating
  269447    2948        1     4.0
  269448    2948        2     3.0
  269502    2948      296     4.0
  269603    2948     1274     3.0
  269675    2948     1968     2.0),
 (3025,
          userId  movieId  rating
  278199    3025        1     3.0
  278200    3025        2     3.5
  278255    3025      296     4.5
  278410    3025     1274     3.0
  278499    3025     1968     4.0),
 (3040,
          userId  movieId  rating
  280209    3040        1     4.0
  280210    3040        2     4.0
  280221    3040      296     5.0
  280282    3040     1274     5.0
  280313    3040     1968     5.0),
 (3186,
          userId  movieId  rating
  293305    3186        1     2.5
  293306    3186        2     2.0
  293361    3186      296     4.5
  293562    3186     1274     2.0
  293680    3186     1968     3.5),
 (3271,
          userId  movieId  rating
  299824    3271        1     3.5
  299825    3271        2     3.0
  299876    3271      296     4.5
  300015    3271     1274     2.0
  300084    3271     1968     3.5),
 (3429,
          userId  movieId  rating
  316845    3429        1     4.0
  316846    3429        2     3.0
  316876    3429      296     3.0
  316948    3429     1274     4.0
  317009    3429     1968     3.0),
 (3734,
          userId  movieId  rating
  340015    3734        1     5.0
  340016    3734        2     4.0
  340087    3734      296     2.0
  340315    3734     1274     5.0
  340465    3734     1968     5.0),
 (4099,
          userId  movieId  rating
  375223    4099        1     5.0
  375224    4099        2     3.0
  375288    4099      296     3.0
  375504    4099     1274     3.5
  375651    4099     1968     4.0),
 (4208,
          userId  movieId  rating
  387004    4208        1     4.0
  387005    4208        2     2.0
  387119    4208      296     2.0
  387377    4208     1274     3.0
  387575    4208     1968     4.0),
 (4282,
          userId  movieId  rating
  397984    4282        1     4.0
  397985    4282        2     4.0
  398040    4282      296     4.0
  398210    4282     1274     4.0
  398336    4282     1968     3.5),
 (4292,
          userId  movieId  rating
  400307    4292        1     3.5
  400308    4292        2     3.0
  400349    4292      296     4.5
  400503    4292     1274     5.0
  400587    4292     1968     3.5),
 (4415,
          userId  movieId  rating
  408738    4415        1     4.5
  408739    4415        2     3.5
  408844    4415      296     5.0
  409135    4415     1274     0.5
  409343    4415     1968     3.0),
 (4586,
          userId  movieId  rating
  426228    4586        1     4.5
  426229    4586        2     5.0
  426259    4586      296     3.5
  426396    4586     1274     3.5
  426466    4586     1968     4.0),
 (4725,
          userId  movieId  rating
  439244    4725        1     5.0
  439245    4725        2     4.0
  439263    4725      296     4.0
  439313    4725     1274     2.0
  439349    4725     1968     5.0),
 (4818,
          userId  movieId  rating
  449041    4818        1     4.0
  449042    4818        2     2.0
  449108    4818      296     5.0
  449267    4818     1274     3.0
  449371    4818     1968     2.5),
 (5104,
          userId  movieId  rating
  475288    5104        1     2.0
  475289    5104        2     0.5
  475393    5104      296     5.0
  475670    5104     1274     4.0
  475873    5104     1968     2.0),
 (5165,
          userId  movieId  rating
  483940    5165        1     4.0
  483941    5165        2     4.0
  483966    5165      296     3.5
  484072    5165     1274     3.0
  484124    5165     1968     4.0),
 (5547,
          userId  movieId  rating
  513560    5547        1     4.0
  513561    5547        2     3.5
  513603    5547      296     4.5
  513707    5547     1274     4.0
  513767    5547     1968     3.0),
 (6082,
          userId  movieId  rating
  561189    6082        1     3.5
  561190    6082        2     3.0
  561224    6082      296     4.0
  561338    6082     1274     4.0
  561406    6082     1968     1.5),
 (6207,
          userId  movieId  rating
  575407    6207        1     3.5
  575408    6207        2     2.0
  575436    6207      296     5.0
  575523    6207     1274     5.0
  575565    6207     1968     4.5),
 (6366,
          userId  movieId  rating
  594942    6366        1     2.0
  594943    6366        2     2.5
  594996    6366      296     4.0
  595144    6366     1274     4.0
  595217    6366     1968     3.0),
 (6482,
          userId  movieId  rating
  605173    6482        1     5.0
  605174    6482        2     3.0
  605264    6482      296     3.0
  605493    6482     1274     1.0
  605691    6482     1968     5.0),
 (6530,
          userId  movieId  rating
  611461    6530        1     3.5
  611462    6530        2     4.0
  611614    6530      296     4.0
  611969    6530     1274     3.0
  612202    6530     1968     3.5),
 (7235,
          userId  movieId  rating
  668396    7235        1     2.5
  668397    7235        2     1.0
  668428    7235      296     5.0
  668523    7235     1274     2.0
  668575    7235     1968     2.5),
 (7403,
          userId  movieId  rating
  682305    7403        1     4.0
  682306    7403        2     4.0
  682369    7403      296     4.5
  682518    7403     1274     4.5
  682597    7403     1968     3.5),
 (7641,
          userId  movieId  rating
  705768    7641        1     3.0
  705769    7641        2     2.0
  705806    7641      296     3.0
  705903    7641     1274     3.0
  705982    7641     1968     5.0),
 (7996,
          userId  movieId  rating
  738175    7996        1     5.0
  738176    7996        2     2.0
  738228    7996      296     4.0
  738390    7996     1274     4.0
  738489    7996     1968     4.0),
 (8008,
          userId  movieId  rating
  739532    8008        1     5.0
  739533    8008        2     4.5
  739557    8008      296     5.0
  739659    8008     1274     3.5
  739696    8008     1968     4.0),
 (8086,
          userId  movieId  rating
  745813    8086        1     3.0
  745814    8086        2     2.0
  745843    8086      296     3.0
  745928    8086     1274     4.0
  745988    8086     1968     3.0),
 (8245,
          userId  movieId  rating
  760027    8245        1     3.0
  760028    8245        2     3.0
  760060    8245      296     4.0
  760159    8245     1274     1.0
  760229    8245     1968     3.0),
 (8572,
          userId  movieId  rating
  791721    8572        1     4.0
  791722    8572        2     3.5
  791760    8572      296     5.0
  791861    8572     1274     4.0
  791939    8572     1968     4.5),
 (8675,
          userId  movieId  rating
  801136    8675        1     3.5
  801137    8675        2     3.5
  801201    8675      296     4.0
  801373    8675     1274     4.0
  801480    8675     1968     3.5),
 (9101,
          userId  movieId  rating
  842365    9101        1     4.0
  842366    9101        2     3.0
  842420    9101      296     3.5
  842540    9101     1274     3.5
  842634    9101     1968     2.5),
 (9358,
          userId  movieId  rating
  863664    9358        1     4.0
  863665    9358        2     2.0
  863710    9358      296     5.0
  863877    9358     1274     4.5
  863974    9358     1968     3.0),
 (9663,
          userId  movieId  rating
  886074    9663        1     4.0
  886075    9663        2     3.5
  886157    9663      296     5.0
  886372    9663     1274     3.5
  886512    9663     1968     3.0),
 (9994,
          userId  movieId  rating
  923978    9994        1     5.0
  923979    9994        2     3.0
  924026    9994      296     5.0
  924194    9994     1274     5.0
  924283    9994     1968     3.5),
 (10248,
          userId  movieId  rating
  948970   10248        1     4.0
  948971   10248        2     3.0
  949003   10248      296     2.5
  949106   10248     1274     2.0
  949166   10248     1968     3.5),
 (10315,
          userId  movieId  rating
  955563   10315        1     4.0
  955564   10315        2     3.0
  955634   10315      296     4.0
  955882   10315     1274     3.0
  956023   10315     1968     4.0),
 (10368,
          userId  movieId  rating
  960673   10368        1     4.0
  960674   10368        2     3.0
  960724   10368      296     3.5
  960943   10368     1274     4.0
  961087   10368     1968     3.5),
 (10607,
          userId  movieId  rating
  984869   10607        1     3.0
  984870   10607        2     4.0
  984897   10607      296     5.0
  984988   10607     1274     4.0
  985053   10607     1968     4.0),
 (10707,
          userId  movieId  rating
  993876   10707        1     3.0
  993877   10707        2     1.5
  993922   10707      296     4.5
  994091   10707     1274     4.5
  994173   10707     1968     4.0),
 (10863,
           userId  movieId  rating
  1007945   10863        1     4.5
  1007946   10863        2     3.5
  1007993   10863      296     5.0
  1008157   10863     1274     4.0
  1008225   10863     1968     4.0),
 (11314,
           userId  movieId  rating
  1047586   11314        1     4.0
  1047587   11314        2     4.0
  1047612   11314      296     5.0
  1047687   11314     1274     4.5
  1047722   11314     1968     4.5),
 (11399,
           userId  movieId  rating
  1057671   11399        1     4.0
  1057672   11399        2     3.5
  1057707   11399      296     5.0
  1057817   11399     1274     5.0
  1057872   11399     1968     3.5),
 (11769,
           userId  movieId  rating
  1096707   11769        1     3.5
  1096708   11769        2     2.5
  1096785   11769      296     4.5
  1097000   11769     1274     3.5
  1097125   11769     1968     4.5),
 (11827,
           userId  movieId  rating
  1103636   11827        1     3.0
  1103637   11827        2     2.0
  1103718   11827      296     4.0
  1103975   11827     1274     4.0
  1104142   11827     1968     2.0),
 (12069,
           userId  movieId  rating
  1125615   12069        1     4.0
  1125616   12069        2     3.0
  1125663   12069      296     3.0
  1125795   12069     1274     4.0
  1125877   12069     1968     3.0),
 (12120,
           userId  movieId  rating
  1131811   12120        1     1.5
  1131812   12120        2     1.0
  1131869   12120      296     4.5
  1132025   12120     1274     3.0
  1132127   12120     1968     4.5),
 (12211,
           userId  movieId  rating
  1140602   12211        1     2.5
  1140603   12211        2     2.0
  1140647   12211      296     3.0
  1140790   12211     1274     3.5
  1140862   12211     1968     3.0),
 (12325,
           userId  movieId  rating
  1150448   12325        1     3.5
  1150449   12325        2     1.5
  1150504   12325      296     4.0
  1150677   12325     1274     4.0
  1150754   12325     1968     4.5),
 (12916,
           userId  movieId  rating
  1208383   12916        1     5.0
  1208384   12916        2     3.0
  1208415   12916      296     5.0
  1208561   12916     1274     4.0
  1208626   12916     1968     4.0),
 (12921,
           userId  movieId  rating
  1209144   12921        1     4.0
  1209145   12921        2     3.0
  1209219   12921      296     5.0
  1209410   12921     1274     4.0
  1209551   12921     1968     3.5),
 (13053,
           userId  movieId  rating
  1224899   13053        1     4.0
  1224900   13053        2     3.0
  1224979   13053      296     4.5
  1225210   13053     1274     4.0
  1225350   13053     1968     4.5),
 (13142,
           userId  movieId  rating
  1233446   13142        1     4.5
  1233447   13142        2     3.0
  1233488   13142      296     4.5
  1233586   13142     1274     3.5
  1233653   13142     1968     4.0),
 (13260,
           userId  movieId  rating
  1245032   13260        1     3.0
  1245033   13260        2     3.0
  1245059   13260      296     4.0
  1245133   13260     1274     4.0
  1245177   13260     1968     3.5),
 (13366,
           userId  movieId  rating
  1254199   13366        1     3.0
  1254200   13366        2     1.5
  1254222   13366      296     5.0
  1254309   13366     1274     4.5
  1254340   13366     1968     3.5),
 (13768,
           userId  movieId  rating
  1292089   13768        1     5.0
  1292090   13768        2     3.0
  1292168   13768      296     5.0
  1292400   13768     1274     5.0
  1292534   13768     1968     5.0),
 (13888,
           userId  movieId  rating
  1303399   13888        1     2.0
  1303400   13888        2     4.5
  1303421   13888      296     5.0
  1303475   13888     1274     4.0
  1303509   13888     1968     4.5),
 (13923,
           userId  movieId  rating
  1306109   13923        1     4.0
  1306110   13923        2     4.0
  1306144   13923      296     5.0
  1306280   13923     1274     3.0
  1306375   13923     1968     5.0),
 (13934,
           userId  movieId  rating
  1308045   13934        1     4.0
  1308046   13934        2     3.5
  1308070   13934      296     4.5
  1308147   13934     1274     3.0
  1308187   13934     1968     3.5),
 (14529,
           userId  movieId  rating
  1355284   14529        1     5.0
  1355285   14529        2     0.5
  1355322   14529      296     5.0
  1355434   14529     1274     4.0
  1355486   14529     1968     3.5),
 (14551,
           userId  movieId  rating
  1358185   14551        1     5.0
  1358186   14551        2     4.0
  1358267   14551      296     5.0
  1358513   14551     1274     4.0
  1358699   14551     1968     5.0),
 (14588,
           userId  movieId  rating
  1363480   14588        1     4.0
  1363481   14588        2     3.5
  1363564   14588      296     4.0
  1363782   14588     1274     3.0
  1363935   14588     1968     4.0),
 (14984,
           userId  movieId  rating
  1400478   14984        1     3.0
  1400479   14984        2     3.0
  1400553   14984      296     4.0
  1400765   14984     1274     3.0
  1400914   14984     1968     4.0),
 (15137,
           userId  movieId  rating
  1415541   15137        1     3.0
  1415542   15137        2     4.0
  1415585   15137      296     5.0
  1415691   15137     1274     5.0
  1415758   15137     1968     4.5),
 (15157,
           userId  movieId  rating
  1417931   15157        1     4.0
  1417932   15157        2     1.5
  1417983   15157      296     4.5
  1418129   15157     1274     4.0
  1418230   15157     1968     4.0),
 (15466,
           userId  movieId  rating
  1449952   15466        1     4.5
  1449953   15466        2     3.0
  1450082   15466      296     4.5
  1450421   15466     1274     4.0
  1450606   15466     1968     4.0),
 (15670,
           userId  movieId  rating
  1469180   15670        1     5.0
  1469181   15670        2     2.0
  1469275   15670      296     4.0
  1469544   15670     1274     3.0
  1469718   15670     1968     4.0),
 (15834,
           userId  movieId  rating
  1483553   15834        1     4.5
  1483554   15834        2     4.0
  1483595   15834      296     5.0
  1483704   15834     1274     5.0
  1483758   15834     1968     3.5),
 (16292,
           userId  movieId  rating
  1522401   16292        1     5.0
  1522402   16292        2     3.0
  1522434   16292      296     5.0
  1522518   16292     1274     5.0
  1522567   16292     1968     4.0),
 (16456,
           userId  movieId  rating
  1542620   16456        1     4.0
  1542621   16456        2     1.5
  1542652   16456      296     4.0
  1542794   16456     1274     4.0
  1542863   16456     1968     3.0),
 (16506,
           userId  movieId  rating
  1550054   16506        1     3.5
  1550055   16506        2     3.5
  1550131   16506      296     4.5
  1550334   16506     1274     4.0
  1550452   16506     1968     3.5),
 (17246,
           userId  movieId  rating
  1616747   17246        1     3.5
  1616748   17246        2     3.0
  1616777   17246      296     4.5
  1616862   17246     1274     3.5
  1616907   17246     1968     3.0),
 (17438,
           userId  movieId  rating
  1632436   17438        1     5.0
  1632437   17438        2     2.5
  1632457   17438      296     5.0
  1632533   17438     1274     4.5
  1632562   17438     1968     4.0),
 (17501,
           userId  movieId  rating
  1637824   17501        1     2.0
  1637825   17501        2     2.5
  1637874   17501      296     5.0
  1638017   17501     1274     5.0
  1638111   17501     1968     4.5),
 (17502,
           userId  movieId  rating
  1639070   17502        1     4.5
  1639071   17502        2     3.5
  1639090   17502      296     5.0
  1639152   17502     1274     4.0
  1639192   17502     1968     5.0),
 (17666,
           userId  movieId  rating
  1651563   17666        1     4.0
  1651564   17666        2     2.0
  1651676   17666      296     5.0
  1651930   17666     1274     3.5
  1652105   17666     1968     3.5),
 (17735,
           userId  movieId  rating
  1660801   17735        1     3.0

### Collaborative Filtering
- Pearson Correlation

In [41]:
#Store Pearson Correlation in a dict,  key = user Id, value = coefficient
pearsonCorrelationDict = {}

# Pearson Correlation between each top100 users and input user
for name, group in userSubsetGroup:
    
    #Sorting input and current user by 'movieId'
    group = group.sort_values(by='movieId')
    inputMovies = inputMovies.sort_values(by='movieId')
    
    #'n' for formula
    nRatings = len(group)
    
    # movieId from input user in users group
    temp_df = inputMovies[inputMovies['movieId'].isin(group['movieId'].tolist())]
    
    # ratings to list
    tempRatingList = temp_df['rating'].tolist()
    
    # current user reviews to list
    tempGroupList = group['rating'].tolist()
    
    # Calculate Pearson Correlation between users x and y
    Sxx = sum([i**2 for i in tempRatingList]) - pow(sum(tempRatingList),2)/float(nRatings)
    Syy = sum([i**2 for i in tempGroupList]) - pow(sum(tempGroupList),2)/float(nRatings)
    Sxy = sum( i*j for i, j in zip(tempRatingList, tempGroupList)) - sum(tempRatingList)*sum(tempGroupList)/float(nRatings)
    
    #If  denominator is != 0, divide. Else, 0 correlation.
    if Sxx != 0 and Syy != 0:
        pearsonCorrelationDict[name] = Sxy/sqrt(Sxx*Syy)
    else:
        pearsonCorrelationDict[name] = 0

In [42]:
pearsonCorrelationDict.items()

dict_items([(75, 0.8272781516947562), (106, 0.5860090386731182), (686, 0.8320502943378437), (815, 0.5765566601970551), (1040, 0.9434563530497265), (1130, 0.2891574659831201), (1502, 0.8770580193070299), (1599, 0.4385290096535153), (1625, 0.716114874039432), (1950, 0.179028718509858), (2065, 0.4385290096535153), (2128, 0.5860090386731196), (2432, 0.1386750490563073), (2791, 0.8770580193070299), (2839, 0.8204126541423674), (2948, -0.11720180773462392), (3025, 0.45124262819713973), (3040, 0.89514359254929), (3186, 0.6784622064861935), (3271, 0.26989594817970664), (3429, 0.0), (3734, -0.15041420939904673), (4099, 0.05860090386731196), (4208, 0.29417420270727607), (4282, -0.4385290096535115), (4292, 0.6564386345361464), (4415, -0.11183835382312353), (4586, -0.9024852563942795), (4725, -0.08006407690254357), (4818, 0.4885967564883424), (5104, 0.7674257668936507), (5165, -0.4385290096535153), (5547, 0.17200522903844556), (6082, -0.04728779924109591), (6207, 0.9615384615384616), (6366, 0.6577935144802716), (6482, 0.0), (6530, -0.3516054232038709), (7235, 0.6981407669689391), (7403, 0.11720180773462363), (7641, 0.7161148740394331), (7996, 0.626600514784504), (8008, -0.22562131409856986), (8086, 0.6933752452815365), (8245, 0.0), (8572, 0.8600261451922278), (8675, 0.5370861555295773), (9101, -0.08600261451922278), (9358, 0.692178738358485), (9663, 0.193972725041952), (9994, 0.5030272728659587), (10248, -0.24806946917841693), (10315, 0.537086155529574), (10368, 0.4688072309384945), (10607, 0.41602514716892186), (10707, 0.9615384615384616), (10863, 0.6020183016345595), (11314, 0.8204126541423654), (11399, 0.517260600111872), (11769, 0.9376144618769914), (11827, 0.4902903378454601), (12069, 0.0), (12120, 0.9292940047327363), (12211, 0.8600261451922278), (12325, 0.9616783115081544), (12916, 0.5860090386731196), (12921, 0.6611073566849309), (13053, 0.9607689228305227), (13142, 0.6016568375961863), (13260, 0.7844645405527362), (13366, 0.8951435925492911), (13768, 0.8770580193070289), (13888, 0.2508726030021272), (13923, 0.3516054232038718), (13934, 0.17200522903844556), (14529, 0.7417901772340937), (14551, 0.537086155529574), (14588, 0.21926450482675766), (14984, 0.716114874039432), (15137, 0.5860090386731196), (15157, 0.9035841064985974), (15466, 0.7205766921228921), (15670, 0.516015687115336), (15834, 0.22562131409856986), (16292, 0.6577935144802716), (16456, 0.7161148740394331), (16506, 0.5481612620668942), (17246, 0.48038446141526137), (17438, 0.7093169886164387), (17501, 0.8168748513121271), (17502, 0.8272781516947562), (17666, 0.7689238340176859), (17735, 0.7042381820123422), (17742, 0.3922322702763681), (17757, 0.64657575013984), (17854, 0.537086155529574), (17897, 0.8770580193070289), (17944, 0.2713848825944774), (18301, 0.29838119751643016), (18509, 0.1322214713369862)])

In [65]:
# Pearson Coef. dict to df
pearson_df = pd.DataFrame.from_dict(pearsonCorrelationDict, orient='index')
pearson_df

              0
75     0.827278
106    0.586009
686    0.832050
815    0.576557
1040   0.943456
1130   0.289157
1502   0.877058
1599   0.438529
1625   0.716115
1950   0.179029
2065   0.438529
2128   0.586009
2432   0.138675
2791   0.877058
2839   0.820413
2948  -0.117202
3025   0.451243
3040   0.895144
3186   0.678462
3271   0.269896
3429   0.000000
3734  -0.150414
4099   0.058601
4208   0.294174
4282  -0.438529
4292   0.656439
4415  -0.111838
4586  -0.902485
4725  -0.080064
4818   0.488597
...         ...
13366  0.895144
13768  0.877058
13888  0.250873
13923  0.351605
13934  0.172005
14529  0.741790
14551  0.537086
14588  0.219265
14984  0.716115
15137  0.586009
15157  0.903584
15466  0.720577
15670  0.516016
15834  0.225621
16292  0.657794
16456  0.716115
16506  0.548161
17246  0.480384
17438  0.709317
17501  0.816875
17502  0.827278
17666  0.768924
17735  0.704238
17742  0.392232
17757  0.646576
17854  0.537086
17897  0.877058
17944  0.271385
18301  0.298381
18509  0.132221

[100 rows x 1 columns]

In [66]:
# Organizing Pearson df
pearson_df.columns = ['similarityIndex'] 
pearson_df['userId'] = pearson_df.index 
pearson_df.reset_index(inplace=True)
del pearson_df['index']
print(pearson_df.shape)
pearson_df

(100, 2)

    similarityIndex  userId
0          0.827278      75
1          0.586009     106
2          0.832050     686
3          0.576557     815
4          0.943456    1040
5          0.289157    1130
6          0.877058    1502
7          0.438529    1599
8          0.716115    1625
9          0.179029    1950
10         0.438529    2065
11         0.586009    2128
12         0.138675    2432
13         0.877058    2791
14         0.820413    2839
15        -0.117202    2948
16         0.451243    3025
17         0.895144    3040
18         0.678462    3186
19         0.269896    3271
20         0.000000    3429
21        -0.150414    3734
22         0.058601    4099
23         0.294174    4208
24        -0.438529    4282
25         0.656439    4292
26        -0.111838    4415
27        -0.902485    4586
28        -0.080064    4725
29         0.488597    4818
..              ...     ...
70         0.895144   13366
71         0.877058   13768
72         0.250873   13888
73         0.351605   13923
74         0.172005   13934
75         0.741790   14529
76         0.537086   14551
77         0.219265   14588
78         0.716115   14984
79         0.586009   15137
80         0.903584   15157
81         0.720577   15466
82         0.516016   15670
83         0.225621   15834
84         0.657794   16292
85         0.716115   16456
86         0.548161   16506
87         0.480384   17246
88         0.709317   17438
89         0.816875   17501
90         0.827278   17502
91         0.768924   17666
92         0.704238   17735
93         0.392232   17742
94         0.646576   17757
95         0.537086   17854
96         0.877058   17897
97         0.271385   17944
98         0.298381   18301
99         0.132221   18509

[100 rows x 2 columns]

### Top50 similar users to input
- Order by similarity score

In [68]:
topUsers = pearson_df.sort_values(by='similarityIndex', ascending=False)[0:50]
topUsers

    similarityIndex  userId
64         0.961678   12325
34         0.961538    6207
55         0.961538   10707
67         0.960769   13053
4          0.943456    1040
59         0.937614   11769
62         0.929294   12120
80         0.903584   15157
70         0.895144   13366
17         0.895144    3040
6          0.877058    1502
13         0.877058    2791
71         0.877058   13768
96         0.877058   17897
63         0.860026   12211
45         0.860026    8572
2          0.832050     686
90         0.827278   17502
0          0.827278      75
14         0.820413    2839
57         0.820413   11314
89         0.816875   17501
69         0.784465   13260
91         0.768924   17666
30         0.767426    5104
75         0.741790   14529
81         0.720577   15466
85         0.716115   16456
40         0.716115    7641
78         0.716115   14984
8          0.716115    1625
88         0.709317   17438
92         0.704238   17735
38         0.698141    7235
43         0.693375    8086
48         0.692179    9358
18         0.678462    3186
66         0.661107   12921
84         0.657794   16292
35         0.657794    6366
25         0.656439    4292
94         0.646576   17757
41         0.626601    7996
56         0.602018   10863
68         0.601657   13142
65         0.586009   12916
11         0.586009    2128
79         0.586009   15137
1          0.586009     106
3          0.576557     815

In [70]:
# Get top50 users most watched movies and ratings to df, from ratings_df
topUsersRating = topUsers.merge(ratings_df, left_on='userId', right_on='userId', how='inner')

topUsersRating.head()

   similarityIndex  userId  movieId  rating
0         0.961678   12325        1     3.5
1         0.961678   12325        2     1.5
2         0.961678   12325        3     3.0
3         0.961678   12325        5     0.5
4         0.961678   12325        6     2.5

### Recommending
- Weighted Ratings

In [71]:
topUsersRating['weightedRating'] = topUsersRating['similarityIndex']*topUsersRating['rating']
topUsersRating.head()

   similarityIndex  userId  movieId  rating  weightedRating
0         0.961678   12325        1     3.5        3.365874
1         0.961678   12325        2     1.5        1.442517
2         0.961678   12325        3     3.0        2.885035
3         0.961678   12325        5     0.5        0.480839
4         0.961678   12325        6     2.5        2.404196

In [73]:
# Temporary df - Group by movieId, sum similarity and weighted ratings
tempTopUsersRating = topUsersRating.groupby('movieId').sum()[['similarityIndex','weightedRating']]
tempTopUsersRating.columns = ['sum_similarityIndex','sum_weightedRating']
tempTopUsersRating.head()

         sum_similarityIndex  sum_weightedRating
movieId
1                  38.376281          140.800834
2                  38.376281           96.656745
3                  10.253981           27.254477
4                   0.929294            2.787882
5                  11.723262           27.151751

### Recommending
- Weighted average recommendation score

In [75]:
recommendation_df = pd.DataFrame()
recommendation_df['weighted average recommendation score'] = tempTopUsersRating['sum_weightedRating']/tempTopUsersRating['sum_similarityIndex']

# movieId as index
recommendation_df['movieId'] = tempTopUsersRating.index
print(recommendation_df.shape)
recommendation_df.head()

(8134, 2)

         weighted average recommendation score  movieId
movieId
1                                     3.668955        1
2                                     2.518658        2
3                                     2.657941        3
4                                     3.000000        4
5                                     2.316058        5

# Recommendation - Result
- Top 10 movies recommended by the algorithm to user input

In [76]:
recommendation_df = recommendation_df.sort_values(by='weighted average recommendation score', ascending=False)
recommendation_df.head(10)

         weighted average recommendation score  movieId
movieId
5073                                       5.0     5073
3329                                       5.0     3329
2284                                       5.0     2284
26801                                      5.0    26801
6776                                       5.0     6776
6672                                       5.0     6672
3759                                       5.0     3759
3769                                       5.0     3769
3775                                       5.0     3775
90531                                      5.0    90531

In [77]:
# Localizing movies names through 'movieId'
movies_df.loc[movies_df['movieId'].isin(recommendation_df.head(10)['movieId'].tolist())]

       movieId                                    title  year
2200      2284                             Bandit Queen  1994
3243      3329                 Year My Voice Broke, The  1987
3669      3759                       Fun and Fancy Free  1947
3679      3769                Thunderbolt and Lightfoot  1974
3685      3775                          Make Mine Music  1946
4978      5073  Son's Room, The (Stanza del figlio, La)  2001
6563      6672                         War Photographer  2001
6667      6776        Lagaan: Once Upon a Time in India  2001
9064     26801      Dragon Inn (Sun lung moon hak chan)  1992
18106    90531                                    Shame  2011